
main#page_content {
    margin: 0;
}

.page-wrapper {
    width: 100vw !important;
}
.container {
    width: 100% !important;
    padding: 10px !important;
}

/* Sidebar Drawer */

#page_sidebar {
    position: fixed;
    background: var(--background-intermediate);
    transform: translate(-100%, 0);
    transition: transform 250ms;
    z-index: 1;
}
#page_sidebar.show {
    transform: translate(0, 0);
}
#page_sidebar.show:before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
}
#page_sidebar .conversion-banner {
    display: none;
}

#page_topbar {
    left: 0;
    padding-left: 56px !important;
    min-width: auto;
}

/* Mini player */

.player-bottom {
    flex-direction: column;
    min-width: auto !important;
    height: inherit !important;
}
.page-player .player-track {
    padding: 0 !important;
    width: 100%;
}
.naboo {
    padding-bottom: 141px !important;
}
.player-bottom .popper {
    z-index: 2;
}

/* Hide ads */ 
.ads, .page-alerts { 
    display: none !important;
}

/* Play queue */
.player-full {
    min-width: initial !important;
}
.player-container { 
    margin: 0 15px !important; 
}
.queuelist-cover {
    display: none;
}
.queuelist-header {
    position: fixed;
    top: 0;
}
.queuelist-header > * + div {
    display: none;
}
.queuelist-content {
    width: 100%;
}

/* Small images */

.thumbnail-col {
    width: 100px !important;
}

.thumbnail-col .picture-img {
    height: 100px !important;
}

.thumbnail-col-slide.thumbnail-col {
    width: 280px !important;
    height: 135px !important;
}

.thumbnail-rounded {
    width: 100px !important;
}

.action {
    transform: scale(.7) translateX(-30%);;
}

/* mini modal */
@media (max-width: 500px) {
    .modal-dialog {
        min-width: auto !important;
        max-height: 90vh;
    }
    .modal-header, .modal-footer {
        padding: 5px 30px !important;
    }
    .modal-body {
        max-height: fit-content !important;
    }
    .modal-body .wrapper {
        padding: 0 20px;
    }
}

/* profile popup */
.topbar-profile + .popper {
    transform: translate3d(-252px, 32px, 0px) !important;
}
.popper-account {
    max-height: 400px;
    overflow: auto;
}
.popper-account + .popper-arrow {
    left: 262px !important;
}

.popper-body {
    max-height: 55vh;
}


#collapse {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 12px;
    z-index: 10000;
    border-radius: 0 6px 0 0;
    padding: 6px;
    box-sizing: content-box;
    cursor: pointer;
    color: var(--text-primary);
}

#collapse:hover {
    background-color: var(--background-contrast);
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 201;
    width: 16px;
    height: 16px;
    box-sizing: content-box;
    cursor: pointer;
    padding: 9px;
    margin: 11px;
    border-radius: 50%;
    background-color: var(--background-contrast);
    color: var(--text-secondary);
}

#menu:hover {
    background-color: var(--background-contrast);
}

* {
    -webkit-app-region: no-drag !important;
}